html {
    font-size: 16px;
}
.read {
    color: #ccc;
}

.unread {
    /*color: #333;*/
}

.current {
    color: red;
}

span {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.ui.right.rail {
    width: 210px;
}
